
.h1-intro {
  font-size: xx-large;
}
.intro {
  color: rgb(69, 4, 4);
  height: 80%;
  font-size: 21px;
  width: 70%;
  margin: 0 auto;
  /* font-family: "poppins"; */
  font-family: 'Amiri', serif;
  -webkit-box-shadow: 0px 0px 12px -2px #000000;
  box-shadow: 0px 0px 12px -2px #000000;

  padding: 50px;
  border-radius: 20px;
  background-color: var(--azul);
}
.intro p, .sn-center p{
  text-indent: 40px;
}

.sn-top {
  height: 20%;
  margin: 80px;
  display: flex;
}

.perfil-card {
  background-color: #d3d1d1;
  width: 18rem;
  border-radius: 15px;
  border-bottom: 1px solid rgb(69, 4, 4);
  border-right: 1px solid rgb(69, 4, 4);
  overflow: hidden;
  transition-delay: 0.2s;
  box-shadow: 0px 0px 5px 1px #000000;
}
.perfil-card-cont {
  margin: 40px auto;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
  gap: 0.7rem;
  width: 95%;
}

.perfil-card-img-cont {
  height: 66%;
  overflow: hidden;
}

.perfil-card-img-cont img {
  background-color: rgb(166, 166, 179);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-1 img {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.img-2 {
  height: 50%;
  /*  width: 50%; */
}

.sn-center {
  background-color: var(--azul);
  height: 80%;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Amiri', serif;
  -webkit-box-shadow: 0px 0px 12px -2px #000000;
  box-shadow: 0px 0px 12px -2px #000000;

  padding: 25px;
  border-radius: 20px;
}

.sn-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /*gap: 0.7rem;*/
}

.perfil-card h3 {
  margin-bottom: 10px;
  text-align: right;
}

.perfil-card-desc {
  padding: 20px;
  font-family: "poppins", sans-serif;
}

.perfil-card-desc p {
  text-align: left;
  line-height: 95%;
  font-family: 'Amiri', serif;
}
/* .perfil-card-desc a{
  margin: auto 0;
} */

.linkedin-logo {
  width: 50px;
  margin: 20px 0;
}
