@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'PT Sans Narrow', sans-serif; */
:root{
    --fondo: rgb(255, 244, 214);
    --borde: #B9A184;
    --acetato: rgba(0, 0, 0, 0.498);
    --sombra: 3px 3px 8px 0px rgba(0,0,0,1);
    --color1: #D38641;
    --color3: #fedfbc;
    --bordo: rgb(108, 0, 0);
    --azul: #D3D1D1;
}

*{
    box-sizing: border-box;
    margin: 0;
}
body, nav{
    background-color: var(--fondo);
    font-family: 'Amiri', serif;
}
ul{
    list-style: none;
    padding: 0;
}
  
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin: 0 auto;
}

#logo-principal{
  width:500px;
}

.espacio100vh{
    height: 100vh;
}

#top-redes{
    text-align:end;
    color: var(--azul);
}
#top-redes li:hover{
  color:var(--bordo);
}

#top-redes ul{
    margin-top: 5px;
}


#lupa-icon, #icono-menu{
    height: 1.5em;
}


footer li, #top-redes li{
    display:inline;
}

nav li a, #top-redes a, footer a{
    text-decoration: none;
    color:inherit;
}

#top-redes{
    width: 90%;
}

/* __________________________________________________video */
#encabezado{
    position: relative;
    min-height: 200px;
    overflow: hidden;

    
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#encabezado video, #encabezado img{
    position: absolute;
    width: 80%;
}
#buscador{
    position: absolute;
    z-index: 1;
    background-color: var(--acetato);
    color:white;
    
    padding: 2em;

    max-width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buscador input{
    width: 65%;
    border: 3px solid var(--gris);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}
#buscador{
    border-radius: 10px;
}


/*-___________________________________ A partir de acá son los menúes nav */


  
.animenu__btn {
    display: none;
    cursor: pointer;
    background-color: var(--bordo);
    border: 0;
    padding: .6rem;
    height: 2.5rem;
    width: 2.5rem;
  }
  
  .animenu__btn__bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--fondo);
    transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55);
  }
  .animenu__btn__bar + .animenu__btn__bar {
    margin-top: 4px;
  }
  
  .animenu__btn--active .animenu__btn__bar {
    margin: 0;
    position: absolute;
  }
  .animenu__btn--active .animenu__btn__bar:nth-child(1) {
    transform: rotate(45deg);
  }
  .animenu__btn--active .animenu__btn__bar:nth-child(2) {
    opacity: 0;
  }
  .animenu__btn--active .animenu__btn__bar:nth-child(3) {
    transform: rotate(-45deg);
  }

  
nav.animenu {
    display: block;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top:0;
    z-index:2;

    width: 80%;
    margin-bottom: 20px;  
    margin: 0 auto; 
    
    text-align: center;
    background-color: var(--bordo);
    color: var(--fondo);

}
  .animenu ul {
    padding: 0;
    list-style: none;
    
    border-top: 1px solid var(--borde);
    border-bottom: 1px solid var(--borde);

    box-shadow: 0px 9px 10px -15px black; 
    padding: 0;
  }
  .animenu li, .animenu a {
    display: inline-block; 
  }
  .animenu a {
    text-decoration: none;
  }
  
  .animenu__nav > li {
    position: relative;
  }
  .animenu__nav > li > a {
    padding: 10px 30px;
  }
  .animenu__nav > li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
  }
  .animenu__nav > li:hover > a, 
  .animenu__nav__dropdown a:hover {
    color: var(--bordo); 
    background-color: var(--color1);
  }
  .animenu__nav > li:focus-within > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
  }

  .animenu__nav__hasDropdown:before {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-bottom: 0;
    border-top-color: currentColor;
    top: 50%;
    margin-top: -2px;
    right: 10px;
  }
  
  .animenu__nav__dropdown {
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    margin: 20px 0 0 0;
    transition: margin 0.3s, opacity 0.3s;

    overflow-y: scroll;
    max-height: 300px;
  }
  .animenu__nav__dropdown > li {
    width: 100%;
    border: 1px solid var(--borde);
  }
  .animenu__nav__dropdown > li:first-child > a:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 1em;
    top: -6px;
    border: 6px solid transparent;
    border-top: 0;
    border-bottom-color: inherit;
  }


#input:focus, #buscador input:focus{
    outline: none;
}
  .animenu__nav__dropdown a, #input {
    padding: 10px;
    width: 100%;
    background-color: var(--fondo);
    color:var(--bordo);
  }
  .animenu__nav__dropdown a:hover {
    color: var(--bordo);
    background-color: var(--color3);
  }
  
  @media screen and (max-width: 767px) {
    
    .animenu__btn {
      display: inline-block;
    }
  
    .animenu__nav,
    .animenu__nav__dropdown {
      display: none;
    }
  
    .animenu__nav {
      height: 400px;
      overflow: hidden;
      overflow-y: scroll;
    }
    .animenu__nav > li {
      width: 100%;
      border-right: 0;
      border: 1px solid var(--borde);
    }
    
    .animenu__nav > li:first-child > a:after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      left: 1em;
      top: -6px;
    }
    .animenu__nav > li > a , #search-lupa{
      width: 100%;
      padding: 10px;
      position: relative;
    }
    .animenu__nav__dropdown {
      position: static;
      margin: 0;
      transition: none;
      visibility: visible;
      opacity: 1;
    }
    .animenu__nav__dropdown > li:first-child > a:after {
      content: none;
    }
    .animenu__nav__dropdown a , #search-lupa{
      padding-left: 20px;
      /* width: 100%; */
    }

  }

  .animenu__nav--active, .animenu__nav__dropdown {
    display: block;
    /* Era !important */
  }


/* ____________ buscador del nav*/

nav .search {
    position: relative;
}

#search-lupa{
  padding: 10px 30px;
}

#input{
    border: 1px solid var(--borde);
    background-color: var(--fondo);
    border-radius: 25px;
    height: 3rem;
    width: 15rem;
    padding: .8rem;
    padding-right: 2rem;
}
#input:focus{
    border-width: 2px;
    outline: none;
}
.cont-input{
    position: absolute;
    top: -47px;
    right: -50px;
    
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}
.cont-input img{
    position: absolute;
    right: 10px;
    top: 13px;
}
.appear{
    opacity: 1;
    visibility: visible;
    right: 60px;
}

.nav-icon{
  width:17px;
}





/* Division de la página cont-padre________________________________ */
.cont-all{
    width: 80%;
    margin:auto;
}

.cont-left{
    float: left;
    width: 70%;
    /* background-color: blue; */
}

/*___________________________________CONTENEDOR DERECHO */

.cont-right{
    float:right;
    background-color: var(--fondo);
    width: 30%;
}
article.cont-tip, article img{
    border: 1px solid var(--borde);
    margin: 20px;
    padding: 0 20px 30px;
    text-align: center;
}
.cont-right h3{
    margin-top: -10px;
    background-color: var(--fondo);
    border: 1px solid var(--borde);
    border-radius: 10px;
    font-family: 'poppins'; 

    background-color: var(--bordo);
    color: var(--fondo);
}
.cont-text{
    margin-top: 10px;
    line-height: 18px;
}


.espacio{
    clear:both;
}
.espacio img{
    width: 400px;
    height: 600px;
}

/* __________________________________________media */
@media (max-width: 900px) {
    .cont-right, .cont-left{
        width: 100%;
    }

}
/* ___________________________________Categorías principales*/

.card{
    width: 100%;
    height: 20rem;

    background-size: cover;
    background-position:center;
    border-radius: 5px;
}

.card .cover{
    height: 100%;
    background-color: var(--acetato);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.card h2{    
    color: white;
}

.card h2:hover, .recipes-cont h3:hover, .cont-left .trend-cont h3:hover{
    letter-spacing: 3px; 
}

.card:hover{
    box-shadow: var(--sombra);
    transition: all .3s;
    background-size: cover;
}

.card-cont a, .trend-desc a, .recipes-cont a{
    text-decoration: none;
    color:unset;
}

.card-cont{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(333px,1fr));
    gap: .7rem;
}

/* ___________________________________ lado izquierdo */

/* h2 principales+card */
.patrocinadores h2, .trend-cont h2, .card h2, .cont-center h2{
    text-align: center;
    border-top: 1px solid var(--borde);
    border-bottom: 1px solid var(--borde);
    margin: 2rem 0;
    padding: 10px 0;
    font-family: 'poppins';
    text-transform: uppercase;
}

.patrocinadores ul{
    margin: 0 auto;
    text-align: center;
}
.patrocinadores img{
    max-width: 250px;
    
}
.patrocinadores li{
    margin: 3rem auto;
}

/*___________________________________ Trends */
.trend-cont .trend-img-cont{

    height: 8rem;
    width: 8rem;
    width: 200px;
    
    margin-right: 2rem;
}

.trend-cont img{
    width: 100%;
    height: 100%;
    object-fit:cover;    
}

.trend-cont li{
    display: flex;
    margin: 2rem;

    border-radius: 15px;
    border: 1px solid rgb(170, 170, 170);
    overflow: hidden;
    /* color: white; */
    transition: all .3s ease-out;
}

.trend-cont li:hover{
    box-shadow: var(--sombra);
}

.trend-desc h3{
    font-family: 'poppins';
    text-transform: uppercase;
}

.trend-desc{
    margin:auto 0;
}


/* ___________________________________________ FOOTER */
body{
  position: relative;
  min-height: 99vh;
  padding-bottom: 25rem;
}
footer{
    font-size: 1em;
    color: var(--fondo);
    background-color: var(--bordo);
    font-size: 20px;
    font-family: 'Amiri', serif;

    position: absolute;
    bottom: 0;
    width: 100%;
}
footer .cont-all{
    min-height: 12rem;
    /* max-height: 270px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
footer p, footer ul{
    text-align: center;
}
#to-top{
    margin: 10px 0;
    padding: 0 1rem;
    cursor: pointer;
}

.footer-span input, .footer-span textarea{
  display:block;
  margin: 5px 0;border: none;
  border-radius: 4px;
}
.footer-span input:focus, .footer-span textarea:focus{
  outline: none;
}

.footer-span textarea {
  resize: none;
}
.footer-span{
  
  background-color: var(--fondo);
  background-color: var(--azul);    
  color:black;
  width: 210px;
  margin: 10px auto;
  padding: 15px;
  text-align: center;

  border-radius: 10px;
}
.footer-span input:nth-child(2){
  background-color: blue;
}
::placeholder, .footer-span button{
  font-family: 'poppins';
  border: none;
  font-size: 14px;
  
}
.footer-span button{
  background-color: #adadad;  
}
.ul-copy{
  padding: 0; margin-top: 20px;
}
.footer-span input, .footer-span textarea{
  width: 100%;
}


@media screen and (max-width: 600px) {
  footer .cont-all{
    display: block;
  }
  body{
    padding-bottom: 35rem;
  }

  .trend-cont li {
    margin: 2rem 1rem;
  }

  #nombre-pagina{
    line-height: 60px;
    margin-bottom: 40px;
    font-size: 15vw;
  }
  .card-cont {
    grid-template-columns: repeat(auto-fit, 100%);
  }

  /* menu-recetas REVISAR */
  .recipe-card {
    height: 80vh;
    width: 70vw;
    margin: auto 0;
  }
  #logo-principal{
    width:80vw;
  }

}

/* ______________________________________ */
/* ______________________________________ recipes */

.recipes-cont{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(333px,1fr));
    gap: .7rem;
    
}

.recipe-card{
    height: 30rem;
    width: 20rem;
    border-radius: 15px;
    border: 1px solid rgb(170, 170, 170);
    overflow: hidden;
    transition: all .3s;

    margin: 0 auto;
}
.recipe-card:hover{
    box-shadow: var(--sombra);
}

.recipe-card-cont-img{
    height: 66%;
    overflow: hidden;
    position: relative;
}
.recipe-card-cont-img img{
    height: 100%; 
}
.recipe-card-desc{
    text-align: center;
    margin: 1rem;
}

.recipe-card-desc h3{
    text-transform: uppercase;
    border-top: 1px solid var(--borde);
    border-bottom: 1px solid var(--borde);
    margin: 1rem;
}
a{transition: all .2s;}

.recipe-card-desc h3 a:hover, .trend-desc h3:hover{
    color:var(--color1);
}

.recipe-card-desc span i{
    margin: 0 1rem;
}


/* _______________________Guardar recetas___________________________ */

/* contenedor de la receta: relative */
.recipe-card .recipe-card-cont-img span{ 
  position: absolute;

  right: 20px;
  top: 20px;
  background-color: var(--acetato);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 13px ;
  cursor: pointer;
  color: black;
}


.session-opened{
  display: none;
}