@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
:root{
    --fondo: rgb(255, 244, 214);
    --borde: rgba(231, 205, 218);
    --borde: #B9A184;
    --acetato: rgba(0, 0, 0, 0.498);
    --sombra: 3px 3px 8px 0px rgba(0,0,0,1);
    --color1: #D38641;
    --color2:  rgb(255, 232, 215);
    --color3: #fedfbc;
    --bordo: rgb(108, 0, 0);
}

.instru {
    max-width: 3900px;
    height: 20%;
    background: var(--color1);
    padding: 30px;
    border-radius: 10px;
    margin: 80px;
    font-size: 18px;
    padding: 50px;
    background: #D3D1D1;
    box-shadow: 0 8px 20px var(--acetato);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.info {
    font-weight: 600;
    text-align: center;
    margin-bottom: 28px;
}

.mini {
    width: 100px;
    margin-top: 28px;
}

.enviar-receta {
    /**/
    max-width: 3900px;
    height: 20%;
    background: var(--color1);
    padding: 30px;
    border-radius: 10px;
    margin: 80px;
    font-size: 18px;
    padding: 50px;
    background-color: #E5D6B2;
}

.body-z {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.field {
    margin: 15px;
}

input:focus {
    outline: none;
    color: #787878;
}

form .field input[type="submit"]{
    color: var(--bordo);
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20%;
    border: none;
    cursor: pointer;
    background: var(--color1);
    border-radius: 1rem;
    margin-top: 20%;
}

form .field input[type="submit"]:hover{
    color: var(--color1);
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20%;
    border: none;
    cursor: pointer;
    background: var(--bordo);
}











