@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

.instru {
    background: var(--color1);
    border-radius: 10px;
    margin: 160px;
    margin-top: 50px;
    font-size: 18px;
    padding: 50px;
    background: #D3D1D1;
    box-shadow: 0 8px 20px var(--acetato);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}

.info {
    font-weight: 600;
    text-align: center;
    margin-bottom: 28px;
}

.mini {
    width: 140px;
    margin-top: 28px;
}

.form-interno {
    height: 70rem;
    background: var(--color1);
    border-radius: 10px;
    margin: 80px;
    font-size: 18px;
    padding: 50px;
    background-color: #E5D6B2;
    font-family: 'Poppins', sans-serif;
}

.form-interno .ingresar{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265,1.55);
}

.form-interno .ingresar .campo{
    margin-top: 50px;
    margin-right: 40px;
    width: 500px;
}

.selectoption, option, value {
    font-size: 15px;
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
    background: var(--fondo);
}

.form-interno form .campo input{
    height: 40px;
    width: 280px;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
    display: block;
    background: var(--fondo);
}



.form-interno .ingresar .campo input:focus {
    border-color: #704545;
}

.form-interno .ingresar .campo textarea:focus {
    border-color: #704545;
}

.form-interno .ingresar .campo input:hover {
    border-color: #704545;
}

.form-interno .ingresar .campo textarea:hover {
    border-color: #704545;
}

.form-interno .ingresar .campora input:hover {
    border-color: #704545;
}

.form-interno .ingresar .selectoption:hover {
    border-color: #704545;
}


label {
    padding: 18px;
}

.ingresar .arriba{
    display: flex;
}

.form-interno .ingresar .campora input{
    height: 40px;
    width: 120px;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
    background: var(--fondo);
}

.ingresar label {
    width: 50rem;
    margin-top: 50px;
}

.form-interno .ingresar .campora{
    height: 40px;
    /*width: 100px;*/
    margin-top: 50px;
    margin-right: 25px;
}

.form-interno .ingresar .arriba .abajo{
    display: block;
}

.form-interno .ingresar .selectoption {
    height: 40px;
    width: 120px;
    outline: none;
    padding-left: 8px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}

.field input[type="submit"]{
    color: var(--acetato);
    font-size: 22px;
    font-weight: 600;
    /*padding: 10px 20%;*/
    border: none;
    cursor: pointer;
    background: #D3D1D1;
    border-radius: 1rem;
    margin-top: 60px;
    transition: all 0.4s ease;

    width: 240px;
    height: 40px;

    outline: none;
    border-bottom-width: 2px;
}

.field input[type="submit"]:hover{
    color: var(--acetato);
    font-size: 22px;
    font-weight: 600;
    /*padding: 10px 20%;*/
    border: none;
    cursor: pointer;
    background: #D3D1D1;
    border-radius: 1rem;
    margin-top: 60px;
    transition: all 0.5s ease;

    width: 245px;
    height: 40px;

    outline: none;
    border-bottom-width: 2px;

    box-shadow: 0 4px 4px var(--acetato);


}

.ingresar .camporito{
    width: 520px;
    margin-top: 60px;
    padding: 25px;
}
.ingresar input[type="checkbox"]{
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}
.ingresar .campos{
    height: 100px;
    width: 450px;
    outline: none;
    padding: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
    display: block;
    resize: none;
    background: var(--fondo);
}

.ingresar .ingre{
    height: 50px;
    overflow-y: hidden;
}

.final .field{
    height: 40px;
    width: 300px;
    margin-top: 100px;    
}

.final {
    margin-top: 60px;
    display: flex;
    width: 770px;
}

.final .campo input[type="checkbox"] {
    display: flex;
}

@media screen and (max-width: 1050px) {
    .form-interno {
        height: 100rem;
    }
    
    .form-interno .arriba {
        flex-direction: column;
        margin-bottom: 100px;
    }

    .form-interno .ingresar .campos {
        width: 425px;
    }


    .final {
        display: block;
        width: 450px;
    }

    .final .field {
        margin-top: 70px;
    }

    .form-interno .ingresar .final .camporito {
        width: 600px;
        height: 20px;
    }
}

@media screen and (max-width: 850px) {
    .instru {
        margin: 70px;
    }
    
    .form-interno {
        margin: 40px;
    }

    .form-interno .ingresar .campo input {
        width: 200px;
    }

    .form-interno .ingresar .campos {
        width: 400px;
    }

    .final {
        width: 400px;
    }

    .form-interno .ingresar .final .camporito {
        width: 400px;
    }
} 

@media screen and (max-width: 700px) {
    .form-interno .ingresar .campos {
        width: 350px;
    }

    .final {
        width: 350px;
    }
}

@media screen and (max-width: 650px) {
    .instru {
        margin: 20px;
        margin-bottom: 100px;
    }

    .form-interno {
        margin: 20px;
        padding: 40px;
    }

    .form-interno .ingresar .campos {
        width: 325px;
    }

    .final {
        width: 325px;
    }

    .form-interno .ingresar .final .camporito {
        width: 350px;
    }
}

@media screen and (max-width: 530px) {
    .instru {
        font-size: 18px;
    }
    
    .form-interno {
        padding: 30px;
    }
    
    .form-interno .ingresar .campos {
        width: 250px;
    }

    .final {
        width: 250px;
    }

    .form-interno .ingresar .final .camporito {
        width: 300px;
    }
}

@media screen and (max-width: 430px) {
    

    .mini {
        width: 125px;
    }

    .form-interno {
        padding: 25px;
    }

    .form-interno .ingresar .campos {
        width: 200px;
    }

    .form-interno .final input[type="submit"] {
        width: 200px;
    }

    .final {
        width: 200px;
    }

    .form-interno .ingresar .final .camporito {
        width: 225px;
    }

    
}

@media screen and (max-width: 350px) {
    .instru {
        margin: 0;
        margin-bottom: 100px;
        font-size: 15px;
    }

    .mini {
        width: 100px;
    }
    
    .form-interno {
        margin: 0;
        padding: 20px;

    }

    .form-interno .ingresar .campo input {
        width: 150px;
    }

    .form-interno .ingresar .campos {
        width: 125px;
    }

    label {
        padding: 0;
    }

    .form-interno .final input[type="submit"] {
        width: 150px;
    }

    .final {
        width: 150px;
    }

    .form-interno .ingresar .final .camporito {
        width: 150px;
    }
}



